.page-section {
  padding: 60px 0;
}

.page-section--blue {
  background: linear-gradient(to bottom right, #fff, #eaeaff);
}

.page-section--red {
  background: linear-gradient(to bottom right, #fff, #ffeaea);
}

.page-section--green {
  background: linear-gradient(to bottom right, #fff, #f0ffea);
}

.container {
  display: block;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.sub-section {
  margin-left: 40px;
  margin-bottom: 20px;
}